<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="filePath" value="C:\Users\hp\Documents\Visual Studio 2019\Projects\TournamentTracker\DataFile"/>
  </appSettings>
  <connectionStrings>
    <add name="Tournaments" connectionString="Server=DESKTOP-MI5MOTC;Database=Tournament;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>